.row-cols-2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.col-sm-6 {
    background-color: white;
    border: orange solid 1px;
}

.shadowCol, .emptyCol {
    background-color: rgb(215, 215, 215);
}

.titleCol {
    text-align: center;
}

.btn-group {
    margin-bottom: 2rem;
}

h2 {
    padding-top: 1rem;
    text-align: center;
}

.whole {
    margin-top: 3rem;
    width: 50vw;
}

/* Tabs not selected */
.nav-tabs .nav-link {
    background-color: #fff;
    color: #FFB84D;
    border: 1px solid #FFB84D;
    margin-bottom: -1px; 
  }
  
  /* Tabs selected */
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:focus,
  .nav-tabs .show > .nav-link {
    background-color: #FFB84D;
    color: #fff;
    border-top:    1px solid #FFB84D;
    border-left:   1px solid #FFB84D;
    border-right:  1px solid #FFB84D;
    border-bottom: none;
    margin-bottom: -1px;
  }
  
  /* Hover 态也保持同样样式 */
  .nav-tabs .nav-link:hover {
    background-color: #FFB84D;
    color: #fff;
  }
  