.scrollable {
    overflow: auto;
    height: 10rem;  
}

.wholeContainer {
    width: 70%;
}

h2 {
    margin-bottom: 2rem ;
}

.suggestions, .suggestion {
    border: solid 1px;
}
.suggestion {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#unitInput[readonly] {
    background-color: #e9ecef;
  }
  