{% block extra_js %}
<script>
    // Add active class to the current navigation item
    $(document).ready(function() {
        // Get current page URL
        var url = window.location.href;
        
        // For each nav item
        $('.navbar-nav .nav-link').each(function() {
            // If the URL contains the href value or matches it exactly
            if(url.indexOf($(this).attr('href')) > -1 || url === $(this).attr('href')) {
                $(this).addClass('active');
            }
        });
        
        // Special case for about section which is on homepage
        if(url.indexOf('#about') > -1) {
            $('a[href="#about"]').addClass('active');
        }
    });
</script>
{% endblock %}