<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page DailyBite</title>
        <meta name="description" content="The login and register page of DailyBite">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/styleLogin.css">
    </head>
    <body>
        <div class="container" id="loginContainer">
            <form action="{{ url_for('auth.login') }}" method="POST" class="pt-3 pb-3">
                {{ form.hidden_tag() }}
                <input type="hidden" name="form_type" value="login">
                
                <label for="emailLogin" class="form-label">Email</label><br>
                {{ form.emailLogin(class="form-control") }}<br>
                
                <div class="row">
                    <div class="col">
                        <label for="passwordLogin" class="form-label">Password</label>
                    </div>
                    <div class="col">
                        <!-- TODO:Need to verify the requirement -->
                        <a href="#" class="text-muted"><small>Forgot password?</small></a> 
                    </div><br>
                </div>
                {{ form.passwordLogin(class="form-control") }}<br>

                {{ form.remember_me }}
                <label for="remember_me" class="form-label">Remember me</label>

                <input type="submit" value="Sign In"><br><br>
                <div class="text-center">
                    <small><span class="text-muted">Don't have an account yet?</span> <a href="{{ url_for('auth.register') }}">Sign up</a></small>
                </div>
            </form><br>
        </div>
        <!-- Flash Toasts -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="toast align-items-center text-bg-{{ category }} border-0 shadow show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                    {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                </div>
            {% endfor %}
            {% endwith %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
              const toastElList = [].slice.call(document.querySelectorAll('.toast'));
              toastElList.forEach(function (toastEl) {
                const toast = new bootstrap.Toast(toastEl, { delay: 3000 });
                toast.show();
              });
            });
        </script>

        <!-- Custom JS -->
        <script src="../static/scripts.js" async defer></script>

        <!-- Bootstrap JS Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>