{% extends "home_base.html" %}
{% block title %} DailyBite - settings{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/styleSettings.css">
{% endblock %}

{% block content %}
<div class="whole mx-auto">
    <ul class="nav nav-tabs" id="formTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="mealType-tab" data-bs-toggle="tab" data-bs-target="#mealType" type="button" role="tab" aria-controls="mealType" aria-selected="true">Meal Type</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="setGoal-tab" data-bs-toggle="tab" data-bs-target="#setGoal" type="button" role="tab" aria-controls="setGoal" aria-selected="false">Set Goal</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="addProduct-tab" data-bs-toggle="tab" data-bs-target="#addProduct" type="button" role="tab" aria-controls="addProduct" aria-selected="false">Add New Product</button>
        </li>
    </ul>

    <div class="tab-content" id="formTabsContent">
        <!-- Add New Product Form -->
        <div class="tab-pane fade show active" id="addProduct" role="tabpanel" aria-labelledby="addProduct-tab">
            <form action="{{ url_for('main.addNewProduct') }}" method="POST">
                {{ form3.hidden_tag() }}
                <h2>Add New Product</h2>
                <label for="productName" class="form-label">Product Name</label><br>
                {{ form3.productName(class="form-control") }}
                <br>
                <label for="quantity" class="form-label">Quantity</label><br>
                {{ form3.quantity(class="form-control") }}
                <br>
                <label for="unit" class="form-label">Unit</label><br>
                {{ form3.unit(class="form-control") }}
                <br>
                <label for="kilojoules" class="form-label">Kilojoules</label><br>
                {{ form3.kilojoules(class="form-control") }}
                <br>
                <div class="d-flex justify-content-between">
                    <input type="submit" class="btn btn-secondary" value="Save">
                    <a href="{{ url_for('main.dashboard') }}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>

        <!-- Meal Type Form -->
        <div class="tab-pane fade" id="mealType" role="tabpanel" aria-labelledby="mealType-tab">
            <form action="{{ url_for('main.addMealType') }}" method="POST" >
                {{ form1.hidden_tag() }}
                <h2>Meal Type</h2>
                <label for="typeName" class="form-label">Type Name</label><br>
                {{ form1.typeName(class="form-control") }}
                <br><br>
                <div class="d-flex justify-content-between">
                    <input type="submit" class="btn btn-secondary" value="Save">
                    <a href="{{ url_for('main.dashboard') }}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>

        <!-- Set Goal Form -->
        <div class="tab-pane fade" id="setGoal" role="tabpanel" aria-labelledby="setGoal-tab">
            <form action="{{ url_for('main.setGoal') }}" method="POST">
                {{ form2.hidden_tag() }}
                <h2>Set Goal</h2>
                <label for="goal" class="form-label">Set Goal</label><br>
                {{ form2.goal(class="form-control") }}
                <br><br>
                <div class="d-flex justify-content-between">
                    <input type="submit" class="btn btn-secondary" value="Save">
                    <a href="{{ url_for('main.dashboard') }}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}